/*.cabeza{
    background-color: #fff159;
    /*padding: 45px; /*PARA AGRANDAR O ACHICAR LO QUE OCUPE*/
.imge{
    margin-bottom: 30px;
    margin-left: 80px;
}
.Logo_altura{
    margin-top: 100px;
}
#cuadrado{
    position: relative;
    width:450px; 
    height: 450px; 
    text-align: left;
    border: 3px solid transparent;
    border-radius: 15px;
    background-color: white;
    margin: 0 auto;
    top: -106px;
    /* margin-left: 450px; */
    /* left:20px; */
    /* bottom:-295px; */
}
h1{
    font-size: 24px;
}
h2{
    font-size: 16px;
}
.txtcuadrado{
    padding: 35px;
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;
    background-color: transparent;
}
body{
    background-color:lightgrey;
    position: relative;
}
/* #head{
    position: relative; 
    background-color: #fff159;
    right: 10px;
} */
.central{
    text-align: center;
    margin: 50px;
}
.foter {
    display: block;
    /* background-color: white; */
    border: 1px solid lightgrey;
    width: 456px;
    text-align: center;
    /* border-bottom: 3px solid lightgrey; */
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: white;
    margin-left: -39px;
    padding-bottom: 16px;
}
header{
    position: relative;
    background-color: #fff159;
    height: 220px;
    /* margin: 0 auto; */
    /* right: 10px; */
    margin: -10px;

}
.telefono{
    display: block;
    padding-bottom: 15px;
    width: 100%;
    border: grey;
    border-style: groove;
    border-width: thin;
    border-radius: 0.25rem;
}

.btn_continuar{
    display: inline-block;
    background-color: blue;
    width: 93%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:white;
    font-size: 15px;
    border-radius: 0.5rem;
    border-style:hidden;
    padding: 16px;
    text-align: center;
}

.btn_CrearCuenta{
    display: inline-block;
    background-color: white;
    width: 93%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:blue;
    font-size: 15px;
    border-radius: 0.5rem;
    border-style:hidden;
    padding: 16px;
    text-align: center;
    margin-top: 5px;
}

.btn:hover{
    background-color: lightblue;
    width: 93%;
    font-size: 15px;
    border-radius: 0.5rem;
    border-style:hidden;
    padding: 16px;
    text-align: center;
}
.btn1:hover{
    background-color: rgba(7, 7, 73, 0.562);
    width: 93%;
    font-size: 15px;
    border-radius: 0.5rem;
    border-style:hidden;
    padding: 16px;
    text-align: center;
}
.btn2:hover{
    display: block;
    /* background-color: white; */
    border: 1px solid lightgrey;
    width: 456px;
    text-align: center;
    /* border-bottom: 3px solid lightgrey; */
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: rgba(243, 236, 236, 0.945);
    margin-left: -39px;
    padding-bottom: 16px;
}
.foter1{
    position: relative;
    background-color: white;
    text-align: center;
    margin: -10px;
}