.mono{
    font-size: large;
    color: red;
    color: gray;
}
#audio{
    background-color: aqua;
    color:blueviolet
}

ol li{color: blue;}

h2{color:aqua; font-size: x-large;}

#ALOCADO{
    color: green;
    font-size: 30px;
}

strong{
    color:red;
}